@model SaphirCongesCore.Models.Conges
@using SaphirCongesCore.Validation;
@{
    ViewBag.Title = "Créer";
}

<h2>Créer</h2>
<link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4> Poser des congés</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("Date de début", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="StartDate" id="StartDate" />
                @Html.ValidationMessageFor(model => model.StartDate)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Date de fin", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="EndDate" id="EndDate" />
                @Html.ValidationMessageFor(model => model.EndDate)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Nombre total de jours", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoOfDays)
               <div class="halfday">
                    @Html.CheckBox("ishalf")
                    @Html.Label("Présence de demi journée")
                    <span id="amorpm">
                        @Html.Label("Matin")
                        @Html.RadioButtonFor(model => model.HalfDay, "Matin", new { @class = "morning" })
                        @Html.Label("Après midi")
                        @Html.RadioButtonFor(model => model.HalfDay, "Après-midi")
                    </span>
                </div>
                 @Html.ValidationMessageFor(model => model.NoOfDays)
            </div>
        </div>

        <div class="form-group">
         @Html.Label("Types de congés", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TypeConges, ViewBag.HolidayTypes as SelectList, "-- Choisissez le type de congés --")
                @Html.ValidationMessageFor(model => model.TypeConges)
            </div>
        </div>


        <div class="form-group">
            @Html.Label("Description des congés", new { @class = "control-label col-md-2" })
             <div class="col-md-10">
                  @Html.TextAreaFor(model => model.CongesDescription)
                 @Html.ValidationMessageFor(model => model.CongesDescription)
             </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
              <input type = "submit" value="Créer" class="btn btn-default" />
          </div>
        </div>
</div>
}
<div>
    @Html.ActionLink("Retour","Index")
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery-ui-1.10.4.js")
    @Scripts.Render("~/Scripts/customjs.js")
}

@* Pour avoir le DatePicker *@
            <script>
	$(function (){
		$(".datepicker").datepicker({dateFormat:"dd/mm/yyyy"});
	});
            </script>
